<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jojo.metroapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashscreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.MainActivity" />
        <activity
            android:name=".activity.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PengajuanIzinActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.RiwayatActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.DetailFormUserActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.ViewFormDetail" />
        <activity
            android:name=".activity.LihatGambarActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.ViewImage" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>